* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  background: grey;
}

.grid div {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checked {
  
}

.mine img {
  border: solid 2px orange;
}

.mine img, 
.valid img {
  height: inherit;
  width: inherit;
}